# Maven
target/
!target/franquicia-api.jar

# Git
.git
.gitignore

# IDEs
*.iml
.idea/
*.classpath
*.project
*.settings/

# SO
.DS_Store
Thumbs.db

# Logs
*.log

# Node (si accidentalmente está en el proyecto)
node_modules/
npm-debug.log

# Otros
*.env
.env