HELP.md

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/target/
/build/
/out/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.crash.log

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Spring Tool Suite
.apt_generated
.factorypath
.springBeans
.sts4-cache

# Logs
*.log

# OS / metadata
.DS_Store
Thumbs.db

